*{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}

.Contenedor{
  border: solid 1px white;
  width: 100%;
  max-width:1000px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.Cabecera {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100px;
}

.Cabecera img{
  width:100px;
}

.cabecera_h1 {
  position: absolute;
  top: 40px;
  left: 150px;
}

.cabecera_frase {
  position: absolute;
  top: 70px;
  left: 235px;
}

.nav{
  margin: 10px 10px 0 0;
  position: unset;
  background: none;
  height: auto;
  width: unset;
  border: none;
}

.nav_link{
  background: #041BB6;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.nav_link_palote{
  background: #02C8B0;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.nav_link_button{
  background: #041BB6;
  color: white;
  padding: 5px;
  border-radius: 3px; 
}


/****GALERIA*****/
.galeria {
 width: 100%;
 height: 400px;
 background: #333;
 display: flex;
 justify-content: center;
 align-items: center;
}

.galeria_lienzo{
 width: 600px;
 height: 350px; 
 overflow: hidden;
}

.galeria_contenedor{
  display: flex;
  width: 7000px;
  height: 50px; 
  transition: transform 1s ease-in;
  will-change: transform;
}

.elemento1:checked ~ .galeria_contenedor {
  transform: translateX(0px);
}

.elemento2:checked ~ .galeria_contenedor {
  transform: translateX(-600px);
}

.elemento3:checked ~ .galeria_contenedor {
  transform: translateX(-1200px);
}

.elemento4:checked ~ .galeria_contenedor {
  transform: translateX(-1800px);
}

.elemento5:checked ~ .galeria_contenedor {
  transform: translateX(-2400px);
}

.elemento6:checked ~ .galeria_contenedor {
  transform: translateX(-3000px);
}

.controles {
 width: 100%;
 height: 30px;
 display: flex;
 justify-content: center;  
 position: relative;
 top: -26px;
}

label{
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: blue;
  display: block;
  cursor: pointer;
}

/****MODULOS*****/
.tienda {
  display:grid;
  grid-template: repeat(3, 300px) / repeat(3, 300px);
  justify-content: center;
  grid-gap: 16px;
  width: 100%;
  height: auto;
}

.tienda article {
  display: flex;
  justify-content: center;
  align-content: space-between; 
  flex-flow: wrap;
  border: solid;
  border-radius: 15px;
  overflow: Hidden;
}
  
.tienda img {
  position: relative;
  top: 5px;
  width: 150px;
  height: 100px;
  border-radius: 15px;
}

.tienda p {
  text-align: justify;
  padding: 8px;
}

.tienda h3 {
  text-align: center;
}

.btn_municipios {
  background: #028D6A;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 7px;
}

.tienda div {
  width: 100%;
  height: 50px;
  background: #041BB6;
}


/****PIEPAGINA*****/
.espacio{
  position: relative;
  height: 20px;
}

.PiePagina {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100px;
  background: #041BB6;
  align-content: center;
}

.PiePagina footer {
  text-align: center;
  color: white;
}
 
/*RESPONSIVE DESIG**/

@media screen and (max-width: 600px){
	.tienda{
		grid-template: repeat(3, 300px) / repeat(1, 300px) ;
	}
}

@media screen and (max-width: 600px){
  
.Cabecera {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 130px;
}
  
.Cabecera figure {
    width: 130px;
    margin: auto;
  }
  
.Cabecera img{
  width: 95px;
  height: 80px;
}
  
.cabecera_h1 {
  position: absolute;
  top: 40px;
  left: 100px;
} 
 
.cabecera_frase {
  position: absolute;
  top: 75px;
  left: 100px;
}
 
.nav {
   display: none;
  }
  
}

    
